
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*  Estilos Globales */
body {
  font-family: 'Poppins', sans-serif; 
  
  background-color: #F9F9F9; 
 
  min-height: 100vh;
}

/* Base para el contenedor principal */
#root {
 
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
}